<template name="topics">

  <div class="container">

    <div class="row">
      <div class="col-md-10 col-md-push-1">
        <div class="page-header">
          <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#new-topic-modal">
            <i class="ion-plus"></i> Suggest a Topic
          </button>
          <h1>Topics</h1>
        </div>

        <ul class="nav nav-tabs">
          <li class="{{ activeTabClass 'suggested' }}"><a href="{{ pathFor 'topics' query='tab=suggested'}}">Suggested</a></li>
          <li class="{{ activeTabClass 'presented' }}"><a href="{{ pathFor 'topics' query='tab=presented'}}">Presented</a></li>
        </ul>

        <br>

        <div class="tab-content">
          <div class="tab-pane {{ activeTabClass 'suggested' }}" id="suggested-topics">
            {{#if suggestedTopics.count}}
              <div class="well">
                Suggest a topic for an upcoming meetup and vote on your favorites
              </div>
              {{#each suggestedTopics}}
                {{> _topic}}
              {{/each}}
            {{else}}
              <div class="well">
                There aren't any topics yet.
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#new-topic-modal">Предлагайте тему?</button>
              </div>
            {{/if}}
          </div>

          <div class="tab-pane {{ activeTabClass 'presented' }}" id="presented-topics">
            {{#if presentedTopics.count}}
              <div class="well">
                Наступні теми були запропоновані на попередніх зустрічах
              </div>
              {{#each presentedTopics}}
                {{> _topic}}
              {{/each}}
            {{else}}
              <div class="well">
                Ніхто не запропонував ще ніяких тем
              </div>
            {{/if}}
          </div>

        </div>

      </div>

    </div>
  </div>

  <div class="modal fade" id="new-topic-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        {{#if currentUser}}
          <form>
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Запропонуйте тему</h4>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="title">Назва</label>
                <input type="text" class="form-control" id="title" placeholder="Введіть назву вашої теми">
              </div>
              <div class="form-group">
                <label for="description">Опис</label>
                <textarea rows="2" class="form-control" id="description" placeholder="Введіть опис вашої теми"></textarea>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-link" data-dismiss="modal">Закрити</button>
              <button type="submit" class="btn btn-primary">Відправити</button>
            </div>
          </form>
        {{else}}
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Запропонувати тему</h4>
          </div>
          <div class="modal-body text-center">
            <p>
              Зайти через Meetup для відкриття теми!
            </p>
            <p>
              <button type="button" class="btn btn-primary" data-login-with="meetup">
                <img src="/meetup.png" width=22 height=22> Увійти
              </button>
            </p>
          </div>
        {{/if}}
      </div>
    </div>
  </div>

</template>
